$body-bg-color: #000000;
$body-text-color: #ffffff;

$primary-110: #030106;
$primary-100: #0F0523;
$primary-90: #1F0B46;
$primary-80: #321669;
$primary-70: #492294;
$primary-60: #712DC6;
$primary-50: #321669;
$primary-40: #A856FF;
$primary-30: #BD7EFF;
$primary-20: #D2A8FF;
$primary-10: #E9D3FF;


$neutral-110: #0A090C;
$neutral-100: #18171C;
$neutral-90: #201D26;
$neutral-80: #302D37;
$neutral-70: #413D48;
$neutral-60: #565060;
$neutral-50: #706A7D;
$neutral-40: #8C8698;
$neutral-30: #ACA8B5;
$neutral-20: #C9C6CE;
$neutral-10: #DEDDE2;

$success-100: #04261D;
$success-50: #10B981;
$success-60: #108A62;



$danger-100: #240308;
$danger-70: #A4152F;
$danger-50: #EF4463;

$warning-100: #341808;
$warning-30: #FBBF24;


$white: #ffffff;
$dark: #000000;